[Desktop Entry]
Name=Screentime Viewer
Comment=View your screen time usage
Exec=screentime-viewer
Icon=preferences-system-time-symbolic
Type=Application
Categories=GNOME;GTK;Utility;
